@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightpink;
    margin: 10px 20px;
    font-size: 14px;
}

.playfair-display-title {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    text-align: center;
    color: green;
    text-shadow: 2px -5px 2px rgb(130, 177, 130);
    font-size: 2.2em;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

linea{
    text-decoration: none;
}

#linkazul{
    color: rgb(0, 119, 255);
}

#rojo{
    font-weight: bold;
    color: rgb(185, 17, 17);
}

p {
    text-align: justify;
}

ul {
    list-style: none;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: white;
    margin-bottom: 16px;
}

li {
    display: flex;
    align-items: center;
}

ul a {
    color: rgb(38, 132, 190);
    text-decoration: none;
    font-weight: 500;
}

ul a:hover {
    text-decoration: underline;
}

.seccion {
    border: 6px solid rgb(148, 41, 73);
    background-color: rgb(197, 128, 140);
    color: black;
    margin-bottom: 14px;
    padding-bottom: 6px;
}

.seccion h2 {
    background-color: rgb(173, 84, 99);
    color: white;
    margin: 0 0 10px 0;
    padding: 6px 12px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.seccion-contenido {
    display: flex;
    gap: 10px;
    padding: 3px 10px; 
    align-items: flex-start;
}

.seccion-texto {
    flex: 1;
    font-size: 0.88em;
}

.seccion-texto p {
    margin: 0 0 8px 0;
}

.seccion-imagen {
    flex-shrink: 0;
    width: 160px;
    margin: 0 6px;
}

.seccion-imagen img {
    width: 100%;
    height: auto;
    display: block;
    padding: 3px;
    border: 3px solid #ffffff;
}


button {
    background: none;
    border: solid white 1px;
    font-size: 1.5em;
    cursor: pointer;
    padding: 3px 6px;
    display: block;
    margin: 5px;
    color: rgb(0, 132, 255);
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}

button:hover {
    color: rgb(148, 41, 73);
}

.barra-final {
    background-color: rgb(148, 41, 73);
    height: 6px;
    width: 40%;
    margin: 10px auto;
    display: block;
}

footer p {
    text-align: right;
    justify-content: flex-end;
    font-size: 0.85em;
    margin-right: 10px;
    color: #66133c;
}

a {
    color: inherit;
    font-weight: bold;
}
